![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [9]:
from pymongo import MongoClient
client=MongoClient()
db=client.db_companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [29]:
list(db.companies.find({'name':'Babelgum'}, {'_id':0,'name':1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [31]:
list(db.companies.find({'number_of_employees':{'$gt':5000}}, {'name':1, '_id':0}).sort('number_of_employees', 1).limit(20))

[{'name': 'Nintendo'},
 {'name': 'Hexaware Technologies'},
 {'name': 'Facebook'},
 {'name': 'OpenText'},
 {'name': 'LSI'},
 {'name': 'CPM Braxis'},
 {'name': 'Microchip Technologies'},
 {'name': 'Mediaset'},
 {'name': 'Mindray Medical International'},
 {'name': 'Baidu'},
 {'name': 'Dentsu'},
 {'name': 'Tata Communications'},
 {'name': 'Atmel'},
 {'name': 'Acxiom'},
 {'name': 'Acxiom'},
 {'name': 'SRA International'},
 {'name': "Moody's"},
 {'name': 'ManTech'},
 {'name': 'Adobe Systems'},
 {'name': 'Broadcom'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [71]:
list(db.companies.find({'founded_year':{'$gte':2000, '$lt':2005}}, {'name', 'founded_year'}))[0:20]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297d95'),
  'name': 'StumbleUpon',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297d96'),
  'name': 'Gizmoz',
  'founded_year': 2003},
 {'_id': ObjectId('52cdef7c4bab8bd675297da1'),
  'name': 'Plaxo',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297da5'),
  'name': 'Technorati',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297da7'),
  'name': 'AddThis',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297dac'),
  'name': 'Veoh',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297db2'),
  'name': 'Meetup',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297db8'),
  'name': 'SmugMug',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbc'),
  'name': 'Skype',
  'founded_year': 2003},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc3'),
  'name': 'Pando Networks',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc6'),
  'name': 'Ikan',
  'founded_year': 2003},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc7'),
  'name': 'delicious',
  'founded_year': 2003},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc8'),
  'name': 'Topix',
  'founded_year': 2002},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc9'),
  'name': 'Jobster',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297dcc'),
  'name': 'AllPeers',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297dd5'),
  'name': 'AllofMP3',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297dd9'),
  'name': 'Steorn',
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7c4bab8bd675297dda'),
  'name': 'iContact',
  'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [70]:
list(db.companies.find({'total_money_raised':{'$gt':'100M'}, 'founded_year':{'$lt':2010}}, {'name', 'ipo'}))[:20]

[{'_id': ObjectId('52cdef7c4bab8bd675297de7'), 'name': 'Fleck', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297e58'), 'name': 'eBuddy', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297ec4'),
  'name': 'Curverider',
  'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297f31'),
  'name': 'Seedcamp',
  'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675297ff6'), 'name': 'Goojet', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298009'),
  'name': 'Mobovivo',
  'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd67529802b'), 'name': 'Fon', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd6752980a0'), 'name': 'Plazes', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd6752980a8'), 'name': 'Evi', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd6752980f1'), 'name': 'Blyk', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298135'), 'name': 'eyeOS', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd67529814f'), 'name': 'Twenga', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298157'),
  'name': 'FastBooking',
  'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd67529815a'),
  'name': 'Skyscanner',
  'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298164'), 'name': 'Bahu', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd67529817e'), 'name': 'Libersy', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd6752981f4'), 'name': 'Badoo', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd6752981f5'),
  'name': 'UnLtdWorld',
  'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298201'), 'name': 'Twingly', 'ipo': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298202'),
  'name': 'XING',
  'ipo': {'valuation_amount': None,
   'valuation_currency_code': 'USD',
   'pub_year': None,
   'pub_month': None,
   'pub_day': None,
   'stock_symbol': 'XNGAF'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [76]:
list(db.companies.find({'number_of_employees':{'$lte':1000}, 'founded_year':{'$lt':2005}},\
                       {'name':1, '_id':0}).sort('number_of_employees').limit(10))

[{'name': 'Fox Interactive Media'},
 {'name': 'Skype'},
 {'name': 'Ticketmaster'},
 {'name': 'stylediary'},
 {'name': 'MindTouch'},
 {'name': 'Simpy'},
 {'name': 'Eurekster'},
 {'name': 'Compete'},
 {'name': 'EditGrid'},
 {'name': 'Monster'}]

### 6. All the companies that don't include the `partners` field.

In [34]:
list(db.companies.find({'partners':{'$exists':False}}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [47]:
list(db.companies.find({'category_code':None}, {'name'}))[:20]

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'), 'name': 'Collective'},
 {'_id': ObjectId('52cdef7c4bab8bd675298225'), 'name': 'Snimmer'},
 {'_id': ObjectId('52cdef7c4bab8bd675298226'), 'name': 'KoolIM'},
 {'_id': ObjectId('52cdef7c4bab8bd675298261'), 'name': 'Level9 Media'},
 {'_id': ObjectId('52cdef7c4bab8bd675298262'), 'name': 'VidKing'},
 {'_id': ObjectId('52cdef7c4bab8bd67529826e'), 'name': 'Drigg'},
 {'_id': ObjectId('52cdef7c4bab8bd675298276'), 'name': 'SpaceTime'},
 {'_id': ObjectId('52cdef7c4bab8bd675298279'), 'name': 'Touch Clarity'},
 {'_id': ObjectId('52cdef7c4bab8bd67529827a'), 'name': 'MMDAYS'},
 {'_id': ObjectId('52cdef7c4bab8bd67529827b'), 'name': 'Inside Group'},
 {'_id': ObjectId('52cdef7c4bab8bd67529827e'), 'name': 'Repeater Store'},
 {'_id': ObjectId('52cdef7c4bab8bd675298288'), 'name': 'Tapesh'},
 {'_id': ObjectId('52cdef7c4bab8bd675298289'), 'name': 'iPersians'},
 {'_id': ObjectId('52cdef7c4bab8bd67529828a'), 'name': 'NewPersia'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982ab'), 'name': 'Pyra Labs'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982b3'), 'name': 'Feedmap'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982e0'), 'name': 'NuvoMedia'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982e4'), 'name': 'Intwine'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982ef'),
  'name': 'The Weinstein Company'},
 {'_id': ObjectId('52cdef7c4bab8bd6752982f2'), 'name': 'ExecuNet'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [67]:
list(db.companies.find({'$and':[{'number_of_employees':{'$lte':1000},\
                                'number_of_employees':{'$gte':100}}]},\
                        {'name':1, 'number_of_employees':1, '_id':0}))[:20]
#$and

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'Zoho', 'number_of_employees': 1600},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'Twitter', 'number_of_employees': 1300},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Cisco', 'number_of_employees': 63000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Google', 'number_of_employees': 28000},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'Intel', 'number_of_employees': 86300},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120},
 {'name': 'RockYou', 'number_of_employees': 106},
 {'name': 'Meebo', 'number_of_employees': 200}]

### 9. Order all the companies by their IPO price descendently.

In [78]:
list(db.companies.find({'ipo.valuation_amount':{'$gte':0}},\
                       {'name':1, '_id':0}).sort('ipo.valuation_amount', -1))
#ipo.valuation_amount' #sort -1 (para de manera descendente)

[{'name': 'GREE'},
 {'name': 'Facebook'},
 {'name': 'Amazon'},
 {'name': 'Twitter'},
 {'name': 'Groupon'},
 {'name': 'Tencent'},
 {'name': 'Western Digital'},
 {'name': 'LinkedIn'},
 {'name': 'BMC Software'},
 {'name': 'Rackspace'},
 {'name': 'Baidu'},
 {'name': 'TripAdvisor'},
 {'name': 'HomeAway'},
 {'name': 'Zillow'},
 {'name': 'Nielsen'},
 {'name': 'Yelp'},
 {'name': 'Chegg'},
 {'name': 'Chegg'},
 {'name': 'RPX Corporation'},
 {'name': 'Higher One'},
 {'name': 'OpenTable'},
 {'name': 'Jive Software'},
 {'name': 'BrightSource Energy'},
 {'name': 'QlikTech'},
 {'name': 'Millennial Media'},
 {'name': 'Mixi'},
 {'name': 'Cornerstone OnDemand'},
 {'name': 'Infoblox'},
 {'name': 'SolarWinds'},
 {'name': 'Wix'},
 {'name': 'Marketo'},
 {'name': 'Opsware'},
 {'name': 'Emdeon'},
 {'name': 'Shutterfly'},
 {'name': 'Telenav'},
 {'name': 'Rally Software'},
 {'name': 'STR'},
 {'name': 'Brightcove'},
 {'name': 'ChannelAdvisor'},
 {'name': 'Elster Group'},
 {'name': 'DemandTec'},
 {'name': 'KIT digital'},
 {'name': 'Tudou'},
 {'name': 'DivX'},
 {'name': 'QuinStreet'},
 {'name': 'Geeknet'},
 {'name': 'Salesforce'},
 {'name': 'JumpTV'},
 {'name': 'EnerNOC'},
 {'name': 'Meru Networks'},
 {'name': 'Real Goods Solar'},
 {'name': 'Global Water'},
 {'name': 'Pironet'},
 {'name': 'Pironet'},
 {'name': 'Inuvo'},
 {'name': 'Inuvo'},
 {'name': 'Energy and Power Solutions'},
 {'name': 'Vringo'},
 {'name': 'GT Solar'},
 {'name': 'DeNA'},
 {'name': 'DeNA'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [83]:
#ordenar de manera descendente para obtener la que mas empleados tiene
list(db.companies.find({'number_of_employees':{'$gt':0}},\
                       {'_id':0, 'name':1, 'number_of_employees':1}
                      ).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

### 12. All the companies that have been 'deadpooled' after the third year.

In [ ]:
#and
#where: this.deadpooled_year-this.found_year>3
#this. se refiere al propio documento

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [ ]:
#acquisition.price_amount

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [ ]:
 #acquisitions.acquired_year
# la base de datos se acaba en 2013 no existe ninguna despues de 2015

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.